.container {
    display: flex;
}

.grid {
    width: 211px;
    height: 421px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1px;


}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    margin-left: 50px;
    width: 85px;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    grid-gap: 1px;

}

.mini-grid div {
    height: 20px;
    width: 20px;
}